{"openapi":"3.1.0","info":{"title":"AI Trust Receipt Operational Service API","version":"0.2.0-alpha.1","description":"Deployment-candidate contract for pre-execution governance, signed receipt issuance, verification, revocation, and remedy. This contract is not certification or a legal-compliance determination.","license":{"name":"Apache-2.0","identifier":"Apache-2.0"}},"servers":[{"url":"https://api.emotionalinfrastructure.org"}],"paths":{"/health":{"get":{"operationId":"getHealth","summary":"Return process liveness","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/.well-known/ai-trust-receipt-keys.json":{"get":{"operationId":"getIssuerKeys","summary":"Discover active and retained issuer verification keys","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[]}},"/v1/admin/bootstrap":{"post":{"operationId":"bootstrapIssuer","summary":"Create the first scoped API key","responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BootstrapRequest"}}}},"security":[{"bootstrapBearer":[]}]}},"/v1/decisions":{"post":{"operationId":"evaluateDecision","summary":"Evaluate a consequential action before execution","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecisionEnvelope"}}}},"security":[{"apiKeyBearer":[]}]}},"/v1/decisions/{decision_id}/finalize":{"post":{"operationId":"finalizeDecision","summary":"Finalize an allowed decision using its execution permit","responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionResult"}}}},"security":[{"apiKeyBearer":[],"decisionToken":[]}],"parameters":[{"$ref":"#/components/parameters/DecisionId"}]}},"/v1/receipts/{receipt_id}":{"get":{"operationId":"getReceipt","summary":"Retrieve a protected receipt bundle","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"receiptOrApiBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ReceiptId"}]}},"/v1/verify":{"post":{"operationId":"verifyReceipt","summary":"Verify digest, issuer signature, key status, and revocation state","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationRequest"}}}},"security":[]}},"/v1/receipts/{receipt_id}/revoke":{"post":{"operationId":"revokeReceiptAssertion","summary":"Revoke an issuer assertion without rewriting the receipt","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevocationRequest"}}}},"security":[{"apiKeyBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ReceiptId"}]}},"/v1/receipts/{receipt_id}/remedies":{"post":{"operationId":"createRemedyCase","summary":"Open a remedy case","responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemedyRequest"}}}},"security":[{"receiptOrApiBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ReceiptId"}]}},"/v1/remedies/{case_id}":{"get":{"operationId":"getRemedyCase","summary":"Retrieve affected-party remedy status","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"remedyBearer":[]}],"parameters":[{"$ref":"#/components/parameters/CaseId"}]}},"/v1/remedies/{case_id}/status":{"post":{"operationId":"updateRemedyStatus","summary":"Move a remedy case through an authorized transition","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemedyStatusUpdate"}}}},"security":[{"apiKeyBearer":[]}],"parameters":[{"$ref":"#/components/parameters/CaseId"}]}}},"components":{"securitySchemes":{"apiKeyBearer":{"type":"http","scheme":"bearer","description":"Scoped organizational API key."},"bootstrapBearer":{"type":"http","scheme":"bearer","description":"One-time bootstrap secret."},"receiptOrApiBearer":{"type":"http","scheme":"bearer","description":"Receipt access token or scoped API key."},"remedyBearer":{"type":"http","scheme":"bearer","description":"Remedy access token."},"decisionToken":{"type":"apiKey","in":"header","name":"X-Decision-Token","description":"Short-lived execution permit."}},"parameters":{"DecisionId":{"name":"decision_id","in":"path","required":true,"schema":{"type":"string"}},"ReceiptId":{"name":"receipt_id","in":"path","required":true,"schema":{"type":"string"}},"CaseId":{"name":"case_id","in":"path","required":true,"schema":{"type":"string"}}},"schemas":{"Error":{"type":"object","required":["error","request_id"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{}}},"request_id":{"type":"string"}}},"BootstrapRequest":{"type":"object","properties":{"organization_id":{"type":"string","maxLength":160},"label":{"type":"string","maxLength":200},"scopes":{"type":"array","items":{"type":"string"}}}},"DecisionEnvelope":{"type":"object","additionalProperties":false,"required":["action_request","authority_grant","material_evidence","receipt_context"],"properties":{"action_request":{"type":"object","x-json-schema":"../schemas/action-request.v0.1.1.schema.json"},"authority_grant":{"type":"object","x-json-schema":"../schemas/authority-grant.v0.1.schema.json"},"material_evidence":{"type":"object","x-json-schema":"../schemas/material-evidence.v0.1.schema.json"},"receipt_context":{"type":"object"}}},"ExecutionResult":{"type":"object","additionalProperties":false,"required":["status","event_time","after_state"],"properties":{"status":{"enum":["executed","denied","delegated","escalated","expired"]},"event_time":{"type":"string","format":"date-time"},"after_state":{"type":["object","null"]},"exception_code":{"type":"string","maxLength":160}}},"VerificationRequest":{"type":"object","additionalProperties":false,"required":["receipt","issuer_assertion"],"properties":{"receipt":{"type":"object","x-json-schema":"../schemas/trust-receipt.v0.1.1.schema.json"},"issuer_assertion":{"$ref":"#/components/schemas/IssuerAssertion"}}},"IssuerAssertion":{"type":"object","additionalProperties":false,"required":["profile","algorithm","key_id","receipt_id","receipt_digest","signed_at","signature"],"properties":{"profile":{"const":"ei-ed25519-detached-v0.1-draft"},"algorithm":{"const":"Ed25519"},"key_id":{"type":"string"},"receipt_id":{"type":"string"},"receipt_digest":{"type":"string","pattern":"^sha256:[a-f0-9]{64}$"},"signed_at":{"type":"string","format":"date-time"},"signature":{"type":"string"}}},"RevocationRequest":{"type":"object","additionalProperties":false,"required":["reason"],"properties":{"reason":{"type":"string","minLength":1,"maxLength":1000}}},"RemedyRequest":{"type":"object","additionalProperties":false,"required":["requester_reference","reason"],"properties":{"requester_reference":{"type":"string","minLength":1,"maxLength":200},"reason":{"type":"string","minLength":1,"maxLength":4000},"requested_action":{"enum":["review","correction","reversal","explanation","deletion"]}}},"RemedyStatusUpdate":{"type":"object","additionalProperties":false,"required":["status"],"properties":{"status":{"enum":["under_review","resolved","denied","withdrawn"]},"resolution_summary":{"type":["string","null"],"maxLength":4000}}}}}}